<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DMSendill.Properties.Settings.dbsendillConnectionString"
            connectionString="Data Source=tcp:b679p2gt2j.database.windows.net;Initial Catalog=dbsendill;Persist Security Info=True;User ID=sqluseronice;Password=@appelsin2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>