<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="sendill_client.Properties.Settings.dbCloudConnection" connectionString="Data Source=mllozghzjn.database.windows.net,1433;Initial Catalog=Sendill;User ID=sqlonice_admin@mllozghzjn;Password='#audkenni1912'" providerName="System.Data.SqlClient"/>
    <add name="sendill_client.Properties.Settings.sqlSendillLocalConnection" connectionString="Data Source=SUNNUVEGUR;Initial Catalog=Sendill;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="dbsendillEntities1" connectionString="metadata=res://*/SendillContext.csdl|res://*/SendillContext.ssdl|res://*/SendillContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUNNUVEGUR;initial catalog=Sendill;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="dbSendillEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=E:\workspace\SendillSink\sendill010415\upd2\sendill_client\sendill_client\LocaData\dbSendill.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="sendill_client.Properties.Settings.dblogconnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\dbsendill\dbsendill.mdb"/>
    <add name="sendill_client.Properties.Settings.dbsendillConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\dbsendill\dbsendill.mdb"/>
    <add name="sendill_client.Properties.Settings.SendillConnectionString" connectionString="Data Source=mllozghzjn.database.windows.net;Initial Catalog=Sendill;User ID=sqlonice_admin;Password=#audkenni1912;Connect Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
       <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISendillService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IWCFSmsCallback" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wcfsendill.azurewebsites.net/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISendillService"
        contract="SendillServRef.ISendillService" name="BasicHttpBinding_ISendillService" />
      <endpoint address="http://localhost:1892/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://devonice.cloudapp.net/WCFSmsCallback.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWCFSmsCallback"
        contract="AzureSmsCallback.IWCFSmsCallback" name="WSDualHttpBinding_IWCFSmsCallback">
        <identity>
          <servicePrincipalName value="host/RD000D3A7103BC" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
  </entityFramework>

</configuration>
